
.content_div.ng-enter {
    -webkit-animation: bounce 1s;
    -moz-animation: bounce 1s;
    -ms-animation: bounce 1s;
    animation: bounce 1s;
    opacity:0;
}
.content_div.ng-enter-active {
    opacity:1;
}
.content_wrapper{
    max-width:80%
}
.md-button{
    font-size:150%;
}
.menu-icon {
    width:60px;
    height:60px;
}
