body{
    font-family: 'Reem Kufi', sans serif;
    font-size:20px;
    font-weight:bold;
    background-color:#282D3D;
}
h1 {
    font-family: 'Reem Kufi', sans serif;
    font-size:40px;
    padding-left:10px;
    color:white;
    font-weight:bold;
    background-color:#E74C3C;
    margin:0px;
    width:100%;
}

.container > .ng-scope{
    padding:20px;
}

.container{
    border:8px solid #E74C3C;
    background-color:white;
    box-shadow:2px 2px 5px black;
    font-family: 'Open Sans', sans serif;
    font-weight:normal;
    padding:0px;
}
.navbar{
    margin-bottom:0px;
    border:none;
    border-radius:0px;
}
.navbar-brand{
    font-family: 'Yellowtail', cursive;
}

.hero{
    background:
    linear-gradient(to bottom right, rgba(35,100,255,0.7), rgba(255,100,35,0.7)),
    url('duck.jpg');
    background-size:cover;
    height:80vh;
    min-height:400px;

}

.hero h1{
    background-color:transparent;
    padding-left:10%;
    padding-top:5%;
}

.hero p{
    font-family: 'Reem Kufi', sans serif;
    font-weight:thin;
    color:white;
    text-align:center;
    padding-top:19%;
    clear:both;
}

.content{
    background-color:#3798ED;
    margin:10px;
    clear:both;
}
.col-content{
    padding:10px 10px 10px 10px;
    background-color:white;
    text-align:center;
    
    box-shadow:2px 2px 5px black;
}

.content_whitebg{
    background-color:white;
    padding:10px 10px 10px 10px;
}
.content_footer{
    color:white;
    padding:10px 10px 10px 10px;
    background-color:#282D3D;
    width:100%;

}

.wrapper{
    min-height:100%;
    background-color:#3798ED;
}

.template_wrapper{
    padding:10px 10px 10px 10px;
    color:white;
}

h1 {
    background-color:transparent;
    color:#FFC400;
}    
a.fa {
    color:white;
}
a {
    color:#FCC200;
}

a:hover {
    color:#FFF269;
}
.content_footer{
    font-size:12px;
}
.template_wrapper{
    padding-left:10%;
    padding-right:10%;
}

.navbar-default .navbar-nav > .active > a.pretty-button,
.navbar-default .navbar-nav > li > a.pretty-button {
    font-size:10px;
}
br {
            display: block;
            content: "";
            margin-top: 20px;
}
