<img id='home' ng-init='vm.onShowGif()' src='images/idle.gif' ng-if='vm.brand_image == "home"' height='96' width='96'/>
<img id= 'music' ng-init='vm.onShowGif()' src='images/music.gif' ng-if='vm.brand_image == "music"' height='96' width='96'/>
<img id= 'blog' ng-init='vm.onShowGif()' src='images/writing.gif' ng-if='vm.brand_image == "blog" || vm.brand_image == "blog.index" || vm.brand_image =="blog.post"' height='96' width='96'/>
<img id='prof' ng-init='vm.onShowGif()'  src='images/professional.gif' ng-if='vm.brand_image == "prof"' height='96' width='96'/>
<img id = 'warp' ng-init='vm.onShowGif()' src='images/warp.gif' ng-if='vm.brand_image == "warp"' height='96' width='96'/>
<img id= 'phone' ng-init='vm.onShowGif()' src='images/phone.gif' ng-if='vm.brand_image == "phone"' height='96' width='96'/>
