<h1>Welcome</h1>
Hi there. <br>
If you're here it's probably because you know me, but if for some reason you don't:
<br> 
I'm Austin and this is my site. I'm a programmer but I also enjoy a lot of other things, including but not limited to: expressionist art, new wave/industrial music, and existential (Mainly French or eastern European) literature. That list makes me sound a bit depressing so I'll also add: hockey, belgian beer, and schlocky B-movies.
<br>
I currently live in northern Virginia with my fiancee and work in Washington D.C. as a JavaScript developer. 
