<div layout="row" layout-align="center center">
<div class='content_wrapper'>
<p>
I grew up in central Pennsylvania surrounded by beautiful woodlands, scenic mountain vistas, and the sort of disturbingly regressive sociocultural attitudes that you can only find in towns without wikipedia pages.<br><br>
In 2013 I moved to Washington D.C. with my fiance, as despite being in my early 20s and having a computer science degree, no one had offered millions of dollars to let me make some clever start-up with vague promises of utility and profitability.
<br><br>

I now work full-time as a programmer and dabble in art, writing, and music.
</p>
</div>
</div>
