<h1>Welcome</h1>
Hi there. I'm Austin and this is my site. I'm a programmer but I also enjoy a lot of other things, including but not limited to: expressionist art, industrial music, and classic Russian literature.
<br>
I live in northern Virginia and work in Washington D.C. as a JavaScript developer. 
<br>
I've read that you're supposed to put a picture of your face on your site because it humanizes you-it's a bit of psychological manipulation. That kind of stuff is all over the internet and it's a sort mentality I immensely dislike. I'm pointing this out so that you don't feel deceived (and by doing so I'm creating a sense of mutual trust which is itself a technique of manipulation, but that can't be helped. I'd recommend reading <i>Coercion</i> by Douglas Rushkoff or <i>To Save Everything, Click Here</i> by Evgeny Morozov if you want to learn more on the subject.) 
<br>
In any case, this is my fiancee and me in Greece in front of the Parthenon. (I'm the stumpy one.)
