<div class='hero'>
    <h1>Dare to make the same website</h1>
    <p>Align yourselves with innovation.<br>Diversify in holistic ways – proactively!<br>Leverage cloud paradigms with cross-platform appeal.</p>
</div>

<div class='container-fluid content'>

<div class='col-md-4'>
<div class='col-content'>
<i class="fa fa-money fa-4x" style='color:green;' aria-hidden="true"></i>
<h1>Save Money</h1>
The green promises<br>
flung like autumn's tired leaves<br>
shadow sprouts - born cold.<br>
</div>
</div>

<div class='col-md-4'>
<div class='col-content'>
<i class="fa fa-pie-chart fa-4x" style='color:red;' aria-hidden="true"></i>
<h1>Smart Data</h1>
A proud lion roars,<br>
but knows to cherish silence<br>
when the air hangs still.<br>
</div>
</div>

<div class='col-md-4'>
<div class='col-content'>
<i class="fa fa-suitcase fa-4x" style='color:blue;' aria-hidden="true"></i>
<h1>All Business</h1>
Faces gone sour<br>
as plums in forgotten groves<br>
cannot be made sweet.<br>
</div>
</div>

</div>

<div class='container-fluid content_whitebg'>
    <div class=''>
        <h1>Testimonials</h1>
    
        <div class='quote col-md-7 col-md-offset-1'> 
        <img class='img-circle' style="float:left;padding-left:10px;padding-right:10px;" height='110' src='images/shope.jpg'>
            <blockquote class="blockquote">
            <p class="m-b-0">It would be better if there were nothing. Since there is more pain than pleasure on earth, every satisfaction is only transitory, creating new desires and new distresses, and the agony of the devoured animal is always far greater than the pleasure of the devourer.</p>
            <footer class="blockquote-footer">Arthur Schopenhauer</cite></footer>
            </blockquote>
        </div>

        <div class='quote  col-md-7 col-md-offset-5'> 
        <img class='img-circle' style="float:right;padding-left:10px;padding-right:10px;" height='110' src='images/dos.jpg'>
            <blockquote class="blockquote blockquote-reverse">
            <p class="m-b-0">It is not the brains that matter most, but that which guides them — the character, the heart, generous qualities, progressive ideas.</p>
            <footer class="blockquote-footer">Fyodor Dostoyevsky</cite></footer>
            </blockquote>
        </div>

        <div class='quote col-md-7 col-md-offset-1'> 
        <img class='img-circle' style="float:left;padding-left:10px;padding-right:10px;" height='110' src='images/sartre.jpg'>
            <blockquote class="blockquote">
            <p class="m-b-0">...there is something new about my hands, a certain way of picking up my pipe or fork. Or else it's the fork which now has a certain way of having itself picked up, I don't know</p>
            <footer class="blockquote-footer">Jean-Paul Sartre</cite></footer>
            </blockquote>
        </div>
        
    </div>
</div>

