<md-sidenav layout='column' md-component-id='main_nav' class='md-whiteframe-z2'>
    <!-- LINK TO OUR PAGES. ANGULAR HANDLES THE ROUTING HERE -->
    <md-button ng-href='/'>Home</md-button>
    <md-button ng-href='/blog'>Essays</md-button>
    <div layout='row' layout-align='center center'>
        <a href="https://www.linkedin.com/pub/austin-moffa/101/518/704" target='_blank' style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="images/linkedin.png" width="32" height="32" alt="View Austin Moffa's LinkedIn profile" style="vertical-align:middle;" border="0"></span></a>
        <a href="https://github.com/austinmoffa" target='_blank'><img src="images/gh.png" width="32" height="32" alt="View Austin Moffa's github profile" style="vertical-align:middle;" border="0"></span></a>
    <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Faustin-moffa&color=orange_white&size=32" style="width: 32px; height: 32px;"></iframe>
    </div>
</md-sidenav>


