<div class='template_wrapper'>

I'll say outright I'm not particularly interested in start-ups or freelance work. That said - feel free to reach out to me if you've got something interesting. The worst I can do is say "no."<br>

<a class='fa' href='https://www.linkedin.com/pub/austin-moffa/101/518/704' target='_blank'><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
<a class='fa' href='https://github.com/austinmoffa' target='_blank'><i class="fa fa-github fa-4x" aria-hidden="true"></i></a>

<a class='fa' href='mailto:austinmoffa@gmail.com'><i class="fa fa-envelope fa-4x" aria-hidden="true"></i></a>
</div>
